:root{
 --bg-color:#fff;
 --link-color:#EAECF0;
}
*,*:after,*:before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html{
  font-size: 10px;
}
body{
   font-family: 'Inter', sans-serif
}
.wrapper{
   position: relative;
 
}
.container{
  max-width: 144rem;
//   border: 1px solid #000;
  margin: 0 auto;
  margin-top: 2rem;
    padding: 30px 0;

}
.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:2.4rem;
   margin-bottom: 5.6rem;
   .slack{
      display: none;
   }
}

.profile-image{
   width:8.8rem;
   height:8.8rem;
   border-radius: 50%;
   object-fit: cover;
}
.profile p{
   font-size: 2rem;
   font-weight: 700;
   line-height: 3rem;
}
.lists{
  width: 90%;
  max-width: 116rem;
//   border: 1px solid red;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2.4rem ;
}
.lists>*{
   padding:1.8rem;
   width: 100%;
   text-align: center;
   background: var(--link-color);
   text-decoration: none;
   font-size: 1.8rem;
   font-weight: 500;
   line-height: 2.8rem;
   font-family: Inter;
   color: #000;
   border-radius: 5px;
   &:hover{
      box-shadow: 0 0 1px 2px  #667085;
   }

}
.social-links{
   display: flex;
   justify-content: center;
   padding: 2.4rem;
   margin-top: 2.4rem;
   gap: 2.4rem;
}
.social-links img{
   width: 2.4rem;
   height:2.4rem;
   
}
footer{
   padding: 4.8rem 0;
   margin-top: 5.2rem;
   .footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   width: 85%;
   padding-top: 3.2rem 3.2rem 0 3.2rem;

   &>*:not(p){
   
      width: clamp(95px,14vw,188px);
      display: block;
      object-fit: contain;
   }
   p{
      font-weight: 400;
      font-size: clamp(12px,2.5vw,1.6rem);
      line-height: 1.8rem;
      color: #667085;
   }
   
}
}

.btn-share{
   border:0;
   background: none;
   position:absolute;
   top:0;
   right: 20%;

    @media(max-width: 600px){
        right: 5%;
      }

   .mobile{
      display: none;
      @media(max-width: 600px){
         display: block;
      }
   }
   .desktop{
      display: block;
       @media(max-width: 600px){
         display: none;
      }
   }

}